name: "Build pjass"
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - run: nix build .#mingw
    - run: cp result/bin/pjass.exe ./pjass.exe
    - uses: actions/upload-artifact@v4
      with:
        name: pjass
        path: pjass.exe
