name: "Build pjass"
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Test in OpenBSD
      uses: vmactions/openbsd-vm@v1
      with:
        prepare: |
          pkg_add gmake bison
        run: |
          gmake test
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - run: nix build .#mingw
    - run: cp result/bin/pjass.exe ./pjass.exe
    - uses: actions/upload-artifact@v4
      with:
        name: pjass
        path: pjass.exe
